<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href= "assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <h1 class = "box" id = "heading"><strong><%=dayName %></strong></h1>
  <% if( dayNum >= 4){  %>
  <h1 style="color:red" class = "box" id = "heading"><%=kindOfDay%></h1>
  <% }else{ %>
    <h1 style="color:cornflowerblue" class = "box" id = "heading"><%=kindOfDay%></h1>
    <%} %>   
    <h1 class="box">this page is: <%=nameOfPage%></h1>

<div class="box ">
   
    
        <% for(var i = 0; i< newTask.length; i++){ %>
            <div class="item">
            <input type="checkbox" >
        <p ><%= newTask[i].taskjsn %>  </p>
            </div>
        
       <% } %>

    
        
      
       <form action="/<%=nameOfPage%>" method = "post" class="item ">
        <input type="text" name = "task" placeholder="enter task" autocomplete="off">
        <input type="text" name = "timelog" value="<%=dayName %>"style="display: none;">
        <input type="text" name = "clocklog" value= "<%=timeName %>" style="display: none;">
        <button type="submit">+</button>

       </form>
   
</div>

    
       
       
</body>
</html>







