<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href= "assets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <h1>today is:<strong><%=dayName %></strong></h1>
  <% if( dayNum >= 4){  %>
  <h1 style="color:red"><%= kindOfDay %></h1>
  <% }else{ %>
    <h1 style="color:cornflowerblue"><%= kindOfDay %></h1>
    <%} %>   

    <form action="/" method = "post">
        <input type="text" name = "task" placeholder="enter task">
        <input type="text" name = "timelog" value="<%=dayName %>">
        <input type="text" name = "clocklog" value= "<%=timeName %>">
        <button type="submit">add</button>
    </form>
   
    <ul>
        <li>task1</li>
        <li>task2`</li>
        <li>task3</li>
        <li>task4</li>
        <% for(var i = 0; i< newTask.length; i++){ %>
        <li><%= newTask[i].taskjsn %></li>  
       <% } %>

    </ul>
       
       
</body>
</html>







