<%- include("partials/header") -%>
<h1>home</h1>
<p><%=pageContent%></p>



<% shortBlogs.forEach(function(shortBlog){ %>
<h4><b><%= shortBlog.shortTitle %></b></h4>
<p><%= shortBlog.shortMessage %></p>

<% }) %>











<%- include("partials/footer") -%>
